.card {
  position: relative;
}

.card__delete-button {
  background-image: url(../images/State=Default.svg);
  background-color: transparent;
  position: absolute;
  border: none;
  height: 32px;
  width: 32px;
  top: 10px;
  right: 10px;
}

.card__delete-button:hover {
  background-image: url(../images/State=Hover.png);
  cursor: pointer;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card__panel {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  line-height: 24px;
}

.card__title {
  font-weight: 500;
  margin: 0;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 380px;
  color: #212121;
  line-height: 24px;
}

.card__like-button {
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  padding: 0;
  background-image: url(../images/LikeIcon.svg);
  background-repeat: no-repeat;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 1;
}

.card__like-button_liked {
  background-image: url(../images/State=Liked.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  opacity: 0.5;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 100%;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
    line-height: 16px;
  }

  .card__like-button {
    height: 20px;
    width: 18px;
    padding-right: 23px;
  }
}
