.card__like-button {
  background-image: url(../images/Like\ Icon.svg);
  background-repeat: no-repeat;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card__panel {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  line-height: 24px;
}

.card__title {
  font-weight: 500;
  margin: 0;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 380px;
}

.card__like-button {
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  padding: 0;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 100%;
  }

  .card__title {
    max-width: 250px;
  }

  .card__like-button {
    height: 20px;
    width: 18px;
    padding-right: 23px;
  }

  .card__title {
    font-size: 16px;
  }
}
