.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal_opened > .modal {
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal__container {
  background-color: #fff;
  max-width: 730px;
  box-sizing: border-box;
  width: 100%;
  padding: 32px 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 8px;
  border: none;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin: 0;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}

.modal__close-btn {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  opacity: 0.7;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__form {
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  line-height: 17.6px;
  font-weight: 500;
}

.modal__input {
  margin-top: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 16px 12px;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__submit-btn {
  margin: 0 auto 0 0;
  background-color: #212121;
  width: 156px;
  height: 52px;
  color: #fcf5e5;
  border: none;
  border-radius: 8px;
  font-weight: 500;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__content {
  border-style: none;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__image {
  width: 100%;
  border-radius: 8px;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: cover;
}

.modal__caption {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  background-color: #212121;
  border-radius: 8px;
  display: inline-block;
  padding: 4px 8px;
  margin: 8px auto 0 0;
  align-content: center;
}

.modal__close-btn-type-preview {
  background-image: url(../images/Close\ Icon.svg);
  position: absolute;
  top: 0;
  right: -52.5px;
  height: 40px;
  width: 40px;
  padding: 0;
  opacity: 1;
}

.modal__close-btn-type-preview:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px;
    gap: 24px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
  }

  .modal__form {
    gap: 20px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__image {
    max-width: 90vw;
    max-height: 80vh;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 19.2px;
  }

  .modal__close-btn-type-preview {
    top: -38px;
    right: 0;
  }
}
